In [20]:

import pandas as pd

inventory=pd.read_csv('inventory.csv')


staten_island=inventory.head(10)


product_request=staten_island['product_description']

seed_request=inventory[(inventory.location =='Brooklyn') & (inventory.product_type =='seeds')]


inventory['in_stock'] =inventory.apply(lambda row: True if row.quantity >0 else False,axis=1)



inventory['total_value'] =inventory['price'] * inventory['quantity']



combine_lambda = lambda row: \
    '{} - {}'.format(row.product_type,
                     row.product_description)

inventory['full_description']=inventory.apply(combine_lambda,axis=1)

print(inventory.head(10))

        location  product_type         product_description  quantity  price  \
0  Staten Island         seeds                       daisy         4   6.99
1  Staten Island         seeds                  calla lily        46  19.99
2  Staten Island         seeds                      tomato        85  13.99
3  Staten Island  garden tools                        rake         4  13.99
4  Staten Island  garden tools                 wheelbarrow         0  89.99
5  Staten Island  garden tools                       spade        93  19.99
6  Staten Island  pest_control               insect killer        74  12.99
7  Staten Island  pest_control                 weed killer         8  23.99
8  Staten Island       planter  20 inch terracotta planter         0  17.99
9  Staten Island       planter      8 inch plastic planter        53   3.99

   in_stock  total_value                      full_description
0      True        27.96                         seeds - daisy
1      True       919.54                    seeds - calla lily
2      True      1189.15                        seeds - tomato
3      True        55.96                   garden tools - rake
4     False         0.00            garden tools - wheelbarrow
5      True      1859.07                  garden tools - spade
6      True       961.26          pest_control - insect killer
7      True       191.92            pest_control - weed killer
8     False         0.00  planter - 20 inch terracotta planter
9      True       211.47      planter - 8 inch plastic planter

   0
0  1
1  2
2  3
3  4
4  5
5  6

#Heading1

* List1
* List2

***

NameError: name 'm' is not defined